<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225175579641-1lkibe9f4eoo4vs8rjtg29t4s0bu3i0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225175579641-1lkibe9f4eoo4vs8rjtg29t4s0bu3i0v</string>
	<key>API_KEY</key>
	<string>AIzaSyCHVKPXut6DTiGUgq0RXx7rYXXcEBjbnY0</string>
	<key>GCM_SENDER_ID</key>
	<string>225175579641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.inkchat.exchanger</string>
	<key>PROJECT_ID</key>
	<string>currency-exchanger-71a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-exchanger-71a1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225175579641:ios:4abd1934f831830b96eb28</string>
	<key>DATABASE_URL</key>
	<string>https://currency-exchanger-71a1e.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1668811522927993~4900544754</string>
</dict>
</plist>